body{
  background-color: #2e3440;
}

#root{
  width: 100%;
  margin-top: 0px;
}

.terminal{
    margin: 100px auto;
}



h1{
  text-align: center;
  margin-top: 0;
}

/* Target the scrollbar itself */
::-webkit-scrollbar {
    width: 12px; /* width of vertical scrollbar */
    height: 12px; /* height of horizontal scrollbar */
}

/* The track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #81a1c1;
    opacity: 0.5;

}
::-webkit-scrollbar-thumb {
    background: #587087;
}


::-webkit-scrollbar-thumb:hover {
    background: #f1f1f12c;
}

/* Corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}